annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
backports.tarfile==1.2.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.9
distro==1.9.0
Django==5.2
dulwich==0.22.8
exceptiongroup==1.2.2
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
importlib_metadata==8.6.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jiter==0.9.0
keyring==25.6.0
more-itertools==10.6.0
msgpack==1.1.0
openai==1.75.0
packaging==25.0
pbs-installer==2025.4.9
pexpect==4.9.0
pkginfo==1.12.1.2
platformdirs==4.3.7
poetry==2.1.2
poetry-core==2.1.2
poetry-plugin-shell==1.0.1
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
PyMySQL==1.1.1
pyproject_hooks==1.2.0
RapidFuzz==3.13.0
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
sniffio==1.3.1
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.4.11.15
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
virtualenv==20.30.0
xattr==1.1.4
zipp==3.21.0
zstandard==0.23.0
langchain==0.1.4
pandas==2.0.1
tiktoken==0.4.0
langchain_google_genai==0.0.4
gradio==3.50.2
datasets==2.15.0
tiktoken==0.4.0
func_timeout==4.3.5
