{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/components/slideshow.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/components/slidenav.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/components/dotnav.min.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/components/slideshow.min.js' %}"></script>
    <script src="{% static 'js/components/parallax.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="slider" class="uk-slidenav-position"
         data-uk-slideshow="{height: '480px', autoplay:true, autoplayInterval: 3000}">
        <ul class="uk-slideshow">
            <li><img src="{% static 'images/0.jpg' %}"></li>
            <li><img src="{% static 'images/2.jpg' %}"></li>
            <li><img src="{% static 'images/4.jpg' %}"></li>
        </ul>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous slidenav"
           data-uk-slideshow-item="previous"></a>
        <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next slidenav      " data-uk-slideshow-item="next"></a>
        <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center uk-flex-center">
            <li data-uk-slideshow-item="0"><a href=""></a></li>
            <li data-uk-slideshow-item="1"><a href=""></a></li>
            <li data-uk-slideshow-item="2"><a href=""></a></li>
        </ul>
        <div class="e_searchbox">
            <form action="/search" class="search_form">
                <div class="search_inputbox">
                    <input autocomplete="off" name="word" type="text" class="e_search_input" placeholder="搜索景点、城市…"
                           data-detect-oninput="1">
                </div>
                <span class="btn_search" title="搜索" onclick="$('.search_form').submit()" data-beacon="Place_search_button"><span>GO</span></span>
            </form>
        </div>
    </div>
    <div id="tour_content">
        <div class="content_part1">
            <h2 id="content1">热门推荐</h2>
            <div class="img_list">
                <ul class="img_grid1">
                    <li>
                        <div class="uk-margin uk-text-contrast uk-text-center uk-flex uk-flex-center uk-flex-middle big_img"
                             style="background-image: url(
                                     {% static 'images/imgs/' %}{{ hot.0.id }}_1.png); background-repeat: no-repeat">
                            <div class="uk-width-medium-1-2"
                                 data-uk-parallax="{opacity: '0,1', scale: '0,1', viewport: '0.4'}"
                                 style="transform: scale(1); opacity: 1;">
                                <h1 class="uk-text-contrast">{{ hot.0.view_name }}</h1>
                                <p class="uk-text-large">{{ hot.0.view_desc|truncatechars:28 }}</p>
                                <a class="uk-position-cover" href="/detail?id={{ hot.0.id }}"></a>
                            </div>

                        </div>
                    </li>
                </ul>
                <ul class="img_grid2">
                    {% for h in hot|slice:"1:4" %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover city_name">
                                <img class="small_img" src="{% static 'images/imgs/' %}{{ h.id }}_1.png">
                                <span class="span_city_name">{{ h.view_name }}</span>
                                <figcaption
                                        class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>{{ h.view_desc|truncatechars:28 }}</p>
                                    <a class="uk-position-cover" href="/detail?id={{ h.id }}"></a>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="img_grid2">
                    {% for h in hot|slice:"4:7" %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover city_name">
                                <img class="small_img" src="{% static 'images/imgs/' %}{{ h.id }}_1.png">
                                <span class="span_city_name">{{ h.view_name }}</span>
                                <figcaption
                                        class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                                    <p>{{ h.view_desc|truncatechars:28 }}</p>
                                    <a class="uk-position-cover" href="/detail?id={{ h.id }}"></a>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content_part2">
            <h2 id="content2">还没想好去哪？</h2>
            <div class="img_list2">
                <ul class="img_grid1">
                    <li>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img class="uk-overlay-scale box_big_img"
                                 src="{% static 'images/imgs/' %}{{ rand.0.id }}_1.png">
                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-ignore">
                                <p>{{ rand.0.view_desc|truncatechars:28 }}</p>
                                <a class="uk-position-cover"  href="/detail?id={{ rand.0.id }}"></a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <ul class="img_grid3" style="padding-top: 10px;">
                    {% for r in rand|slice:"1:4" %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover">
                                <img class="uk-overlay-scale little_img"
                                     src="{% static 'images/imgs/' %}{{ r.id }}_1.png">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-ignore">
                                    <p>{{ r.view_desc|truncatechars:28 }}</p>
                                    <a class="uk-position-cover" href="/detail?id={{ r.id }}"></a>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="img_grid3">
                    <li>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img class="uk-overlay-scale little_img1"
                                 src="{% static 'images/imgs/' %}{{ rand.4.id }}_1.png">
                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-ignore">
                                <p>{{ rand.4.view_desc|truncatechars:28 }}</p>
                                <a class="uk-position-cover"  href="/detail?id={{ rand.4.id }}"></a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="uk-overlay uk-overlay-hover">
                            <img class="uk-overlay-scale little_img2"
                                 src="{% static 'images/imgs/' %}{{ rand.5.id }}_1.png">
                            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-ignore">
                                <p>{{ rand.5.view_desc|truncatechars:28 }}</p>
                                <a class="uk-position-cover" href="/detail?id={{ rand.5.id }}"></a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content_part1">
            <h2 id="content3" style="">猜你喜欢</h2>
            <div class="img_list guess-like">
                <ul class="img_grid2 ui_width">
                    {% for g in guess|slice:":5" %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover city_name">
                                <img class="small_img" src="{% static 'images/imgs/' %}{{ g.id }}_1.png">
                                <span class="span_city_name">{{ g.name }}</span>
                                <figcaption
                                        class="uk-overlay-panel uk-overlay-background uk-overlay-background uk-overlay-slide-top">
                                    <p>{{ g.view_desc|truncatechars:28 }}</p>
                                    <a class="uk-position-cover"  href="/detail?id={{ g.id }}"></a>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="img_grid2 ui_width">
                    {% for g in guess|slice:"5:10" %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover city_name">
                                <img class="small_img" src="{% static 'images/imgs/' %}{{ g.id }}_1.png">
                                <span class="span_city_name">{{ g.name }}</span>
                                <figcaption
                                        class="uk-overlay-panel uk-overlay-background uk-overlay-background uk-overlay-slide-top">
                                    <p>{{ g.view_desc|truncatechars:28 }}</p>
                                    <a class="uk-position-cover" href="/detail?id={{ g.id }}"></a>
                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}